/* GENERAL SETTINGS */

@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("../fonts/lucida-sans-unicode.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container {
    position: relative;
    width: 910px;
    height: 1310px;
    margin: 0 auto;
    padding: 0 45px;
}

/* HEADER */

header {
  width: 910px;
}

.shapka {
  height: 54px;
  width: 496px;
  position: relative;
}

.handset {
  position: absolute;
  background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 50%;
  margin: 22px 0 0 7px;
  height: 21px;
  width: 21px;
}

.handset
img {
  margin: 0 0 0 3px;
}

.phoneNumbers {
  position: absolute;
  font-family: Arial;
  color: #5e696d;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 28px;
  text-align: center;
  margin: 19px 0 0 32px;
}

.enter {
  position: absolute;
  width: 496px;
  height: 27px;
  margin: 17px 0 0 314px;
  box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
  background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 5px;
}

.enter
img {
  position: absolute;
  margin: 5px 0 0 7px;
}

.login {
  font-family: 'Lucida Sans Unicode';
  padding:
  color: #97a2a6;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: absolute;
  margin: 4px 0 0 24px;
  height: 14px;
  width: 109px;
  border-style: solid;
  border-width: 1px;
  border-color:  #9ba1a3;
  padding-left: 4px;
}

.password {
  font-family: 'Lucida Sans Unicode';
  color: #97a2a6;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: absolute;
  margin: 4px 0 0 145px;
  border-style: solid;
  height: 14px;
  border-width: 1px;
  border-color:  #9ba1a3;
  width: 109px;
  padding-left: 4px;
}

.vhod {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 267px;
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
}

.registration {
  position: absolute;
  display: inline-block;
  margin: 9px 0 0 298px;
  padding-left: 4px;
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-size: 11px;
  border-left: 1px solid #fff;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
}

.text--shift {
  margin-left: -1px;
}

.forgot {
  position: absolute;
  margin: 6px 0 0 391px;
  font-family: 'Lucida Sans Unicode';
color:  #bfbfbf;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
text-decoration: none;
border-bottom: 1px solid #bfbfbf;
}

.small--pics {
position: absolute;
  margin: 18px 0 0 826px;
  border-style: solid;
border-width: 1px;
border-color: #bdc4c7;
width: 75px;
height: 21px;
border-radius: 14px;
text-align: center;
box-shadow: 1px 2px 2px 0px rgba(150, 150, 150, 0.25);
}

.small--pics
a {
  text-decoration: none;
}

.home {
  position: absolute;
  margin: 3px 0 0 -30px;
}

.network {
  position: absolute;
  margin: 4px 0 0 -10px;
}

.email {
  position: absolute;
  margin: 5px 0 0 13px;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel
ul {
  position: relative;
  width: 2727px;
}

.jcarousel
li {
  float: left;
}

.jcarousel
a {
  display: inline-block;
}

.jcarousel-prev {
  position: absolute;
  margin: -116px 0 0 -30px;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border-radius: 5px;
  text-decoration: none;
}

.jcarousel-next {
  position: absolute;
  margin: -116px 0 0 921px;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border-radius: 5px;
  text-decoration: none;
}

/* MAIN MENU */

.menu {
  /*position: relative;*/
  margin-top: 3px;
  padding: 3px 13px 3px 125px;
  width: 772px;
  height: 27px;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.menu--item {
  display: inline-block;
}

.menu--link {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 6px;
    color: #b1bcc0;
    line-height: 13px;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.link--one {
  padding: 7px 17px 6px 20px;
}

.link--two {
  padding: 7px 13px 6px 13px;
}

.link--three {
  padding: 7px 12px 6px 12px;
}

.link--four {
  padding: 7px 13px 6px 13px;
}

.link--five {
  padding: 7px 9px 6px 9px;
}

.menu--link:hover {
  background: linear-gradient(to top, #0c3357, #25617b);
  border-radius: 40px;
  color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  padding: 15px;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  width: 175px;
}

.submenu
.menu--link {
  padding-left: 15px;
  padding-right: 15px;
}

/*.submenu:hover {
  background: linear-gradient(to top, #0c3357, #25617b);
  border-radius: 40px;
  color: #fff;
}*/

.basket {
  position: absolute;
  margin: -27px 0 0 683px;
}

.goods {
  position: absolute;
  margin: -18px 0 0 28px;
  color: #929b9f;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.44px;
  text-align: left;
}

.goods
.menu--text {
  margin-left: 2px;
}

.summ {
  position: absolute;
  margin: -17px 0 0 99px;
  font-family: Arial;
  color: #8a9296;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.44px;
  text-align: left;
  width: 110px;
}

.menu--digits {
  display: block;
  margin: -10px 0 0 63px;
}

.menu--currancy {
  float:right;
  margin: -13px -6px  0 0;
}

.menu--text {
  font-family: Arial;
  color: #0d5a8f;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: left;
}

/* CONTENT SECTION */

main {
overflow: hidden;
margin-top: 10px;
}

main
article
form {
    display: inline-block;
    border: 1px solid #9c9c9d;
    border-radius: 20px;
    margin-left: 3px;
    margin-bottom: 15px;
}

main
article
form
p {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
    color: #154467;
    text-align: center;
}

form
input {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
}

.search--car {
    width: 414px;
height: 133px;
}

.search--tires {
    width: 192px;
height: 136px;
}

.search--wheels {
    width: 268px;
height: 135px;
}

.catalog {
    width: 181px;
    height: 415px;
    float: left;
}

.brands--filter {
    width: 181px;
    height: 415px;
    float: right;
}

.content {
    margin: 0 181px;
    /* width: 527px; */
height: 628px;
background: linear-gradient(to top, #93a7b0, #e5e7e8);
box-shadow: 0px -1px 1px 1px #e5e7e8, 0px 1px 1px 1px #93a7b0;
}


/* FOOTER */

footer {
    width: 908px;
height: 100px;
}


.brands {
    padding: 42px 116px 0;
height: 48px;
text-align: center;
}

.brands
img {
    display: inline-block;
}

footer
.links {
    padding-top: 13px;
    width: 908px;
height: 100px;
    text-align: center;
    background-color: #213a4d;
    border: 1px solid #242a3c;
}

footer
a {
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 18px;
    text-align: center;
    color: #68757a;
    text-decoration: none;
}

footer
a:first-child {
    color: #52accb;
}

footer
.copyright {
    margin-top: 16px;
    font-family: Arial;
color:  #7f4740;
font-size: 10px;
font-weight: 400;
letter-spacing: 0.25px;
line-height: 18px;
text-align: center;
}

footer
.devider {
    display: inline-block;
    color: #bec6c9;
}
