/* GENERAL SETTINGS */

@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("../fonts/lucida-sans-unicode.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container {
    position: relative;
    width: 910px;
    height: 1310px;
    margin: 0 auto;
    padding: 0 45px;
}

/* HEADER */

header {
  width: 910px;
}

.shapka {
  height: 54px;
  width: 496px;
  position: relative;
}

.handset {
  position: absolute;
  background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 50%;
  margin: 22px 0 0 7px;
  height: 21px;
  width: 21px;
}

.handset
img {
  margin: 0 0 0 3px;
}

.phoneNumbers {
  position: absolute;
  font-family: Arial;
  color: #5e696d;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 28px;
  text-align: center;
  margin: 19px 0 0 32px;
}

.enter {
  position: absolute;
  width: 496px;
  height: 27px;
  margin: 17px 0 0 314px;
  box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
  background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 5px;
}

.enter
img {
  position: absolute;
  margin: 5px 0 0 7px;
}

.login {
  font-family: 'Lucida Sans Unicode';
  padding:
  color: #97a2a6;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: absolute;
  margin: 4px 0 0 24px;
  height: 14px;
  width: 109px;
  border-style: solid;
  border-width: 1px;
  border-color:  #9ba1a3;
  padding-left: 4px;
}

.password {
  font-family: 'Lucida Sans Unicode';
  color: #97a2a6;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: absolute;
  margin: 4px 0 0 145px;
  border-style: solid;
  height: 14px;
  border-width: 1px;
  border-color:  #9ba1a3;
  width: 109px;
  padding-left: 4px;
}

.vhod {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 267px;
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
}

.registration {
  position: absolute;
  display: inline-block;
  margin: 9px 0 0 298px;
  padding-left: 4px;
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-size: 11px;
  border-left: 1px solid #fff;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
}

.text--shift {
  margin-left: -1px;
}

.forgot {
  position: absolute;
  margin: 6px 0 0 391px;
  font-family: 'Lucida Sans Unicode';
color:  #bfbfbf;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
text-decoration: none;
border-bottom: 1px solid #bfbfbf;
}

.small--pics {
position: absolute;
  margin: 18px 0 0 826px;
  border-style: solid;
border-width: 1px;
border-color: #bdc4c7;
width: 75px;
height: 21px;
border-radius: 14px;
text-align: center;
box-shadow: 1px 2px 2px 0px rgba(150, 150, 150, 0.25);
}

.small--pics
a {
  text-decoration: none;
}

.home {
  position: absolute;
  margin: 3px 0 0 -30px;
}

.network {
  position: absolute;
  margin: 4px 0 0 -10px;
}

.email {
  position: absolute;
  margin: 5px 0 0 13px;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel
ul {
  position: relative;
  width: 2727px;
}

.jcarousel
li {
  float: left;
}

.jcarousel
a {
  display: inline-block;
}

.jcarousel-prev {
  position: absolute;
  margin: -116px 0 0 -30px;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border-radius: 5px;
  text-decoration: none;
}

.jcarousel-next {
  position: absolute;
  margin: -116px 0 0 921px;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border-radius: 5px;
  text-decoration: none;
}

/* MAIN MENU */

.menu {
  /*position: relative;*/
  margin-top: 3px;
  padding: 3px 13px 3px 125px;
  width: 772px;
  height: 27px;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.menu--item {
  display: inline-block;
}

.menu--link {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 6px;
    color: #b1bcc0;
    line-height: 13px;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.link--one {
  padding: 7px 17px 6px 20px;
}

.link--two {
  padding: 7px 13px 6px 13px;
}

.link--three {
  padding: 7px 12px 6px 12px;
}

.link--four {
  padding: 7px 13px 6px 13px;
}

.link--five {
  padding: 7px 9px 6px 9px;
}

.menu--link:hover {
  background: linear-gradient(to top, #0c3357, #25617b);
  border-radius: 40px;
  color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  padding: 15px;
  background: linear-gradient(to top, #000 0%, #2a2e32 85%, #576068);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  width: 175px;
  z-index: 2;
}

.submenu
.menu--link {
  padding-left: 15px;
  padding-right: 15px;
}

.basket {
  position: absolute;
  margin: -27px 0 0 683px;
}

.goods {
  position: absolute;
  margin: -18px 0 0 28px;
  color: #929b9f;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.44px;
  text-align: left;
}

.goods
.menu--text {
  margin-left: 2px;
}

.summ {
  position: absolute;
  margin: -17px 0 0 99px;
  font-family: Arial;
  color: #8a9296;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.44px;
  text-align: left;
  width: 110px;
}

.menu--digits {
  display: block;
  margin: -10px 0 0 63px;
}

.menu--currancy {
  float:right;
  margin: -13px -6px  0 0;
}

.menu--text {
  font-family: Arial;
  color: #0d5a8f;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: left;
}

/* CONTENT SECTION */

main {
  margin-top: 10px;
  position: relative;
}

/* FILTER LINE */

article {
  position: relative;
}

article::after {
  display: table;
  content: '';
  clear: both;
}

article
form {
  display: inline-block;
  position: absolute;
  border: 1px solid #9c9c9d;
  border-radius: 20px;
  box-shadow: 2px 4px 5px 0px rgba(104, 104, 104, 0.75);
}

.name {
  font-family: Arial;
  font-size: 12px;
  font-weight: 900;
  color: #154467;
  text-align: left;
}

/* SEARCH FOR CAR */

.search--car {
  margin: 1px 0 0 4px;
  height: 133px;
  width: 414px;
}

.search--car
.name {
  margin: 1px 0 0 126px;
}

.search--car
.name
span {
  margin-left: 2px;
}

.form--header {
  color: #154468;
  line-height: 28px;
  text-align: left;
  font-family: Arial;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.25px;
}

.header2 {
  float:left;
  margin: -18px 0 0 19px;
}

.header2
span {
  margin-left: 1px;
}

.header3 {
  float:right;
  margin: -20px 21px 0 0;
}

.text--bold {
  font-family: Arial;
  color:  #000000;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 8px;
  text-align: left;
}

.text--thin {
  font-family: Arial;
  color:  #78868c;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 8px;
  text-align: left;
}

.text--box1 {
  float: left;
  margin: 14px 0 0 -42px;
}

.line1 {
  position: absolute;
  margin: -8px 0 0 34px;
  letter-spacing: -0.75px;
}

.line2 {
  position: absolute;
  margin: 8px 0 0 0;
}

.line3 {
  position: absolute;
  margin: 16px 0 0 0;
  letter-spacing: -0.3px;
}

.line3
span {
  margin-left: -2px;
}

.line4 {
  position: absolute;
  margin: 30px 0 0 0;
  letter-spacing: 0.5px;
}

.line5 {
  position: absolute;
  margin: 38px 0 0 0;
  letter-spacing: -0.5px;
}

.line6 {
  position: absolute;
  margin: 56px 0 0 0;
}

.line6
span {
  margin-left: -1px;
}

.text--box2 {
  float: right;
  margin: 12px 101px 0 0;
}

.text--box2
.line4
span {
  margin-left: -2px;
}

.input--box1 {
  position: absolute;
}

.input--box1
.select1 {
  margin: 8px 0 0 93px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.input--box1
.select2 {
  margin: 30px 0 0 93px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.input--box1
.select3 {
  margin: 52px 0 0 92px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 58px;
}

.input--box1
.select4 {
  margin: 74px 0 0 93px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.input--box2 {
  position: absolute;
}

.input--box2
.select1 {
  margin: 6px 0 0 298px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.input--box2
.select2 {
  margin: 28px 0 0 298px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.input--box2
.select3 {
  margin: 50px 0 0 297px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 58px;
}

.input--box2
.select4 {
  margin: 72px 0 0 298px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  width: 101px;
}

.search--car
.search {
  position: absolute;
  margin: 95px 0 0 283px;
  padding-bottom: 0;
  border-bottom: 1px solid #154467;
  color: #154467;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.35px;
  text-decoration: none;
  text-align: center;
}


/* SEARCH OF TIRES */

.search--tires
.name {
  margin: 3px 0 0 10px;
}

.search--tires {
  margin: 0px 0 0 433px;
  height: 134px;
  width: 192px;
}

.search--tires
.search {
  position: absolute;
  margin: 94px 0 0 122px;
  padding-bottom: 0;
  border-bottom: 1px solid #154467;
  color: #154467;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.35px;
  text-decoration: none;
  text-align: center;
}

.search--tires
.header1 {
  position: absolute;
  margin: 6px 0 0 13px;
  color: #000;
  line-height: 28px;
  font-family: 'Lucida Sans Unicode';
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.search--tires
.header2 {
  position: absolute;
  margin: 26px 0 0 45px;
  color: #000;
  line-height: 28px;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  transform: scaleY(0.9);
}

.search--tires
.header3 {
  position: absolute;
  margin: 45px 0 0 14px;
  color: #000;
  line-height: 28px;
  font-family: 'Lucida Sans Unicode';
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.search--tires
.header4 {
  position: absolute;
  margin: 3px 0 0 115px;
  color: #000;
  line-height: 28px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.search--tires
.select1 {
  margin: 7px 0 0 58px;
  padding-left: 4px;
  color: #000000;
  line-height: 17px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 48px;
}

.search--tires
.select2 {
  margin: 7px 0 0 124px;
  padding-left: 4px;
  color: #000000;
  line-height: 17px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 17px;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 48px;
}

.search--tires
.select3 {
  margin: 31px 0 0 58px;
  padding: 1px 0 0 3px;
  color: #000000;
  line-height: 17px;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,.25);
  height: 17px;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 42px;
}

.search--tires
.seasons {
  position: absolute;
  margin: 55px 0 0 58px;
  height: 40px;
  width: 63px;
}

.search--tires
.seasons
span {
  color:  #000;
  line-height: 12px;
  font-family: 'Lucida Sans Unicode';
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

.search--tires
.summer
span {
  position: absolute;
  margin: -11px 0 0 14px;
}

.search--tires
.winter {
  position: absolute;
  margin: 3px 0 0 0;
 }

 .search--tires
 .winter
 span {
   position: absolute;
   margin: -11px 0 0 13px;
 }

.search--tires
.allseas {
  position: absolute;
  margin: 18px 0 0 0;
}

.search--tires
.allseas
span {
  position: absolute;
  margin: -12px 0 0 14px;
}

/* SEARCH OF WHEELS */

.search--wheels {
  margin: -1px 0 0 636px;
  border-radius: 18px;
  height: 134px;
  width: 266px;
}

.search--wheels
.name {
  margin: 4px 0 0 8px;
  letter-spacing: 1px;
}

.search--wheels
.text--box1 {
  float: left;
  margin: 10px 0 0 16px;
  width: 72px;
}

.search--wheels
.line1 {
  position: absolute;
  margin: 0;
  letter-spacing: .9px;
}

.search--wheels
.line2 {
  position: absolute;
  margin: 0 0 0 53px;
}

.search--wheels
.line3 {
  position: absolute;
  margin: 16px 0 0 0;
  letter-spacing: .7px;
}

.search--wheels
.line4 {
  position: absolute;
  display: inline-block;
  margin: 25px 0 0 0;
  letter-spacing: .4px;
  width: 84px;
}

.search--wheels
.line4
span {
  display: inline-block;
  position: absolute;
  margin: 8px 0 0 -56px;
  padding-top: 1px;
  letter-spacing: .2px;
}

.search--wheels
.line5 {
  position: absolute;
  margin: 46px 0 0 0;
  letter-spacing: .8px;
}

.search--wheels
.line6 {
  position: absolute;
  margin: 56px 0 0 0;
  width: 84px;
}

.search--wheels
.line6
span {
  display: inline-block;
  margin: 2px 0 0 0;
}

.search--wheels
.input--box1 {
  position: absolute;
  margin: -12px 0 0 100px;
  height: 106px;
  border-right: 1px solid #bdc6ca;
  width: 75px;
}

.search--wheels
.input--box1
.select1 {
  position: absolute;
  margin: 17px 0 0 6px;
  padding:1px 0 0 4px;
  line-height: 17px;
  color: #000;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 53px;
}

.search--wheels
.input--box1
.select2 {
  position: absolute;
  margin: 49px 0 0 6px;
  padding-left: 5px;
  line-height: 17px;
  color: #000;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 44px;
}

.search--wheels
.input--box1
.select3 {
  position: absolute;
  margin: 81px 0 0 6px;
  padding-left: 2px;
  line-height: 17px;
  color: #000;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1.1px;
  width: 55px;
}

.search--wheels
.input--box2 {
  float: right;
  position: absolute;
  margin: 1px 0 0 154px;
}

.search--wheels
.line7 {
  position: absolute;
  margin: -10px 0 0 32px;
  color:  #000;
  line-height: 8px;
  font-family: 'Lucida Sans Unicode';
  font-size: 9px;
  font-weight: 400;
  text-align: left;
}

.search--wheels
.line8 {
  position: absolute;
  margin: -1px 0 0 34px;
  color:  #77858b;
  line-height: 8px;
  font-family: 'Lucida Sans Unicode';
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  transform: scaleX(1.1181);
}

.search--wheels
.input--box2
.select4 {
  position: absolute;
  margin: 26px 0 0 34px;
  padding-left: 2px;
  line-height: 17px;
  color: #000;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1.1px;
  width: 54px;
}

.search--wheels
.line9 {
  position: absolute;
  margin: 51px 0 0 33px;
  color:  #000;
  line-height: 8px;
  font-family: 'Lucida Sans Unicode';
  font-size: 9px;
  font-weight: 400;
  text-align: left;
}

.search--wheels
.input--box2
.line10 {
  position: absolute;
  margin: 60px 0 0 35px;
  color:  #77858b;
  line-height: 8px;
  font-family: 'Lucida Sans Unicode';
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  transform: scaleX(1.1181);
  width: 70px;
}

.search--wheels
.input--box2
.line10
span {
  letter-spacing: .1px;
}

.search--wheels
.input--box2
.select5 {
  position: absolute;
  margin: 71px 0 0 34px;
  padding: 1px 0 0 2px;
  line-height: 17px;
  color: #000;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,.5);
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1.1px;
  width: 54px;
  z-index: 10;
}

.search--wheels
.search {
  position: absolute;
  margin: 94px 0 0 109px;
  padding-bottom: 0;
  border-bottom: 1px solid #154467;
  color: #154467;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.35px;
  text-decoration: none;
  text-align: center;
}

/* LEFT ASIDE */

.catalog {
  float: left;
  margin: 148px 0 0 0;
  height: 415px;
  width: 181px;
}

.catalog
.header2 {
  margin: 4px 0 0 -3px;
  padding-left: 30px;
  border: 1px solid #79878d;
  border-radius: 40px;
  box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
  height: 25px;
  width: 151px;
}

.catalog
h2 {
  color: #0c3256;
  line-height: 25px;
  font-family: 'Lucida Sans Unicode';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.catalog
.header2::before {
  position: absolute;
  margin: 1px 0 0 -27px;
  background: url('../img/sheet.png') no-repeat center ,  linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 50%;
  content: '';
  height: 22px;
  width: 22px;
}

.catalog
.header3 {
  position: absolute;
  margin: 45px 0 0 12px;
  padding-left: 30px;
  border: 1px solid #79878d;
  border-radius: 12px;
  /*box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);*/
  height: 26px;
  width: 104px;
}

.catalog
h3 {
  color: #0c3256;
  line-height: 26px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.catalog
.header3
.wheel {
  position: absolute;
  margin: -24px 0 0 -26px;
  background: #114165;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.catalog
.header3
.wheel
div {
  position: absolute;
  margin: 5px 0 0 5px;
  background: #fff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.catalog
.header4 {
  position: absolute;
  margin: 159px 0 0 11px;
  padding: 1px 0 0 30px;
  border: 1px solid #79878d;
  border-radius: 12px;
  height: 25px;
  width: 105px;
}

.catalog
.header4
.wheel {
  position: absolute;
  margin: -24px 0 0 -27px;
  background: #114165;
  border-radius: 50%;
  height: 22px;
  width: 21px;
}


.catalog
.header4
.wheel
div {
  position: absolute;
  margin: 5px 0 0 5px;
  background: #fff;
  border-radius: 50%;
  height: 12px;
  width: 11px;
}

.catalog
.header5 {
  position: absolute;
  margin: 259px 0 0 11px;
  padding: 1px 0 0 30px;
  border: 1px solid #79878d;
  border-radius: 12px;
  height: 25px;
  width: 105px;
}

.catalog
.header5
.wheel {
  position: absolute;
  margin: -24px 0 0 -27px;
  background: #114165;
  border-radius: 50%;
  height: 22px;
  width: 21px;
}


.catalog
.header5
.wheel
div {
  position: absolute;
  margin: 5px 0 0 5px;
  background: #fff;
  border-radius: 50%;
  height: 12px;
  width: 11px;
}


/* RIGHT ASIDE */

.brands--filter {
  float: right;
  position: relative;
  margin: 148px 0 0 0;
  height: 415px;
  width: 181px;
}

.brands--filter
.header2 {
  margin: 4px 0 0 -3px;
  padding-left: 30px;
  border: 1px solid #79878d;
  border-radius: 40px;
  box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
  height: 25px;
  width: 151px;
}

.brands--filter
h2 {
  color: #0c3256;
  line-height: 25px;
  font-family: 'Lucida Sans Unicode';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.brands--filter
.header2::before {
  position: absolute;
  margin: 1px 0 0 -27px;
  background: url('../img/sheet.png') no-repeat center ,  linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  border-radius: 50%;
  content: '';
  height: 22px;
  width: 22px;
}

.brands--filter
.header3 {
  position: absolute;
  margin: 45px 0 0 12px;
  padding-left: 30px;
  border: 1px solid #79878d;
  border-radius: 12px;
  /*box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);*/
  height: 26px;
  width: 104px;
}

.brands--filter
h3 {
  color: #0c3256;
  line-height: 26px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.brands--filter
.header3
.wheel {
  position: absolute;
  margin: -24px 0 0 -26px;
  background: #114165;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.brands--filter
.header3
.wheel
div {
  position: absolute;
  margin: 5px 0 0 5px;
  background: #fff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.brands--filter
label {
  color: #465961;
  line-height: 25px;
  font-family: 'Lucida Sans Unicode';
  font-size: 12.73px;
  font-weight: 400;
  text-align: left;
  width: 52px;
}

.brands--filter
.checkbox1 {
  position: absolute;
  margin: 81px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox1  + label {
  position: absolute;
  margin: 76px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox1:not(checked) + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox1:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.checkbox2 {
  position: absolute;
  margin: 107px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox2  + label {
  position: absolute;
  margin: 101px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox2:not(checked) + label::before {
  position: absolute;
  margin: 7px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox2:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.checkbox3 {
  position: absolute;
  margin: 131px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox3  + label {
  position: absolute;
  margin: 126px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox3:not(checked) + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox3:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.header4 {
  position: absolute;
  margin: 159px 0 0 11px;
  padding: 1px 0 0 30px;
  border: 1px solid #79878d;
  border-radius: 12px;
  height: 25px;
  width: 105px;
}

.brands--filter
.header4
.wheel {
  position: absolute;
  margin: -24px 0 0 -27px;
  background: #114165;
  border-radius: 50%;
  height: 22px;
  width: 21px;
}


.brands--filter
.header4
.wheel
div {
  position: absolute;
  margin: 5px 0 0 5px;
  background: #fff;
  border-radius: 50%;
  height: 12px;
  width: 11px;
}


.brands--filter
.checkbox4 {
  position: absolute;
  margin: 196px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox4  + label {
  position: absolute;
  margin: 192px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox4:not(checked) + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox4:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.checkbox5 {
  position: absolute;
  margin: 223px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox5  + label {
  position: absolute;
  margin: 217px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox5:not(checked) + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox5:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.checkbox6 {
  position: absolute;
  margin: 248px 0 0 -159px;
  opacity: 0;
  z-index: 2;
}

.brands--filter
.checkbox6  + label {
  position: absolute;
  margin: 242px 0 0 -180px;
  padding: 0 0 0 46px;
}

.brands--filter
.checkbox6:not(checked) + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat left;
  width: 11px;
}

.brands--filter
.checkbox6:checked + label::before {
  position: absolute;
  margin: 6px 0 0 -24px;
  height: 11px;
  content: '';
  background: url("../img/brands--checkbox.png") no-repeat right;
  width: 11px;
}

.brands--filter
.check--button {
  position: absolute;
  margin: 280px 0 0 20px;
  padding: 7px 0 0 14px;
  border: 1px solid #a7abae;
  border-radius: 12px;
  background: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  background: -moz-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  background: -o-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  background: -ms-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
  color: #e5e9ea;
  box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
  height: 18px;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  width: 67px;
}

/* CENTRAL BLOCK */

.content {
  margin: 153px 194px 0;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
  box-shadow: 0px -1px 1px 1px #e5e7e8, 0px 1px 1px 1px #93a7b0;
  height: 624px;
  /* width: 527px; */
}


/* FOOTER */

footer {
  /*position: relative;*/
  height: 100px;
  width: 908px;
}


.jq--truebackstage {
  width: 867px;
}

.jq--truescene {
  position: absolute;
  margin: -53px 0 0 118px;
  float: left;
  overflow: hidden;
  line-height: 27px;
  width: 676px;
}

.jq--truebrand {
  display: inline-block;
  margin-right: 12px;
  float: left;
}





.links {
  margin-top: 91px;
  padding: 8px 0 0 308px;
  background-color: #213a4d;
  border: 1px solid #242a3c;
  height: 90px;
  text-align: left;
  width: 600px;
}

.links
a {
    display: inline-block;
    border-left: 2px solid #bec6c9;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-align: center;
    color: #68757a;
    text-decoration: none;
}

.links
.about--us {
  color: #52accb;
  border: 0;
}

.links
.delivery {
  margin: 0 0 0 7px;
  padding-left: 11px;
}

.links
.articles {
  margin: 0 0 0 9px;
  padding-left: 12px;
}

.links
.contacts {
  margin: 0 0 0 7px;
  padding-left: 16px;
}

.links
.copyright {
  margin: 11px 0 0 -311px;
  color:  #7f4740;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 18px;
  text-align: center;
}
